# environment
NODE_ENV=development

# base url
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# MARK: database url
DATABASE_URL=mongodb://localhost:27017/dbname

# MARK: next auth 
AUTH_SECRET=authsecret
AUTH_GOOGLE_ID=googleid
AUTH_GOOGLE_SECRET=googlesecret

# MARK: mapbox
MAP_BOX_SECRET_KEY=sk.token
NEXT_PUBLIC_MAP_BOX_PUBLIC_KEY=pk.token

# MARK: nodemailer
NODE_MAILER_USER="fistlast@gmail.com"
NODE_MAILER_PASSWORD="dddd ffff aaaa eeee"

# MARK: jwt
JWT_SECRET=uniquesecret

# MARK: cloudflare
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_ENDPOINT=https://
CLOUDFLARE_R2_BUCKET_NAME=farmpreneur
CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_API_TOKEN=
NEXT_PUBLIC_CLOUDFLARE_R2_PUBLIC_DOMAIN=https://

# MARK: pusher
PUSHER_APP_ID=1890517
NEXT_PUBLIC_PUSHER_KEY=2ba364ef5e989d182212
PUSHER_SECRET=e6eb4eaf11cb379679d6
NEXT_PUBLIC_PUSHER_CLUSTER=ap1